.footer {
    .footer-titulo {
        h4{
            margin-bottom: 1rem;
        }
    }
    .grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        row-gap: 0.5rem;
        column-gap: 0.5rem;
        align-items: center;
        justify-content: center;
        .titulo-redes {
            margin: auto;
            p{
                color: #000000;
                padding: 0.5rem 0rem;
            }
        }
        .ig-linkedin{
            display: flex;
            justify-content: center;
            img{
                display: flex;
                margin-right: 0.5rem;
            }
            a{
                text-decoration: none;
            }
        }
        .facebook{
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 1rem;
            img{
                display: flex;
                margin-right: 0.5rem;
            }
            a{
                color: #000000;
                text-decoration: none;
            }
        }
        .titulo-contactoPersonal{
            margin: auto;
            p{
                color: #000000;
                padding: 0.5rem 0rem;
            }
        }
        .numero {
            p{
                margin: auto;
            }
        }
        .e-mail{
            p{
                margin: auto;
            }    
        }
        .titulo-direccion{
            margin: auto;
            p{
                color: #000000;
                padding: 0.5rem 0rem;
            }
        }
        .direccion {
            p{
                margin: auto;
            }  
        }
        .ciudad {
            p{
                margin: auto;
            }
        }   
    }
}
