@import "../base/variable";
@media only screen and (min-width: 426px) and (max-width: 768px){
    .header{
        padding: 1rem 3rem;
        nav {
            ul {
                li{
                    list-style-type: none;
                    display: none;
                }
            }
        }
        img{
            width: 6rem;
            height: 3rem;
        }
        .menu {
            width: 3rem;
            height: 3rem;
        }
    }
    .whatsapp{
        bottom: 12rem;
        right: 3rem;
    }
    .img{
        display: flex;
        justify-content: center;
        text-align: justify;
        img{
            width: 18rem;
            height: 13rem;
        }
    }
    .titulo {
        h1{    
            padding: 0.5rem 3rem;
            font-size: 1.2rem;
        }
    }
    .cuerpo {
        img{
            width: 18rem;
            padding: 3rem 2rem 3rem 5rem;
        }
        p {
            padding: 3rem 5rem 3rem 0rem;
            line-height: 1.7rem;
            font-size: 1.5rem;
        }
    }
    .nos-primero{
        h2{
            padding: 1rem 3rem;
            font-size: 1rem;
        }
        p{
            font-size: 1rem;
            padding: 3rem;
            line-height: 1.5rem;
            img{
                width: 9rem;
                height: 9rem;
                padding: 0.5rem;
            }
        }
    }
    .ubi-primero{
        h2{
            padding: 1rem 3rem;
            font-size: 1rem;
        }
        p{
            padding: 3rem;
        }
        iframe{
            padding: 2rem 3rem;
            width: 85%;
        }
    }
    .servic-primero {
        h2{
            font-size: 1.5rem;
            padding: 1rem 3rem; // cambia 
        }
        p{
            padding: 1rem 3rem;// cambia
            font-size: 1rem;
        }
        ul{
            line-height: 2rem;
            padding: 1rem 4rem ;
            li{
                font-size: 1rem;
            }
        }
    }
    .servic-segundo {
        padding: 2rem 3rem;
    }
    .row{
        padding: 3rem;
    }
    .con-primero {
        background-color: rgb(151, 140, 125);
        h2{
            font-size: 1rem;
            padding: 1rem 3rem;
        }
    }
    .con-segunda{
        p{
            padding: 2rem 3rem;
        }
        form {
            margin: 1rem auto;
        }
    }  

    .footer {
        padding: 1rem 3rem;
        font-weight: 600;
        .footer-titulo {
            h4{
                font-size: 1.5rem;
                font-weight: 700;
            }
        }
        .grid {
            .titulo-redes {
                p{
                    font-size: 1.2rem;
                    padding: 0.5rem 0rem;
                    margin: 1rem;
                }
            }
            .ig-linkedin{
                img{
                    width: 1rem;
                    height: 1rem;
                }
            }
            .facebook{
                padding: 1rem;
                img{
                    width: 1rem;
                    height: 1rem;
                }
                a{
                    font-size: 1rem;
                }
            }   
            .titulo-contactoPersonal{
                p{
                    font-size: 1.2rem;
                    margin: 1rem;
                }
            }
            .numero {
                p{
                    padding: 1rem;
                }
            }
            .e-mail{
                p{
                    padding: 1rem;
                }    
            }
            .titulo-direccion{
                p{
                    font-size: 1.2rem;
                    margin: 1rem;
                }
            }
            .direccion{ 
                p{
                    padding: 1rem;
                }
            }
            .ciudad {
                p{
                    padding: 1rem;// se queda
                }
            }
        }
    }
}