@import "../base/variable";

@media only screen and (min-width: 1025px) and (max-width: 1440px) {
    .header{
        padding: 1rem 10rem;
        img{
            width: 9rem;
            height: 4rem;
        }
        .menu {
            width: 3rem;
            height: 4rem;
        }
    }
    .img{
        display: flex;
        justify-content: center;
        text-align: justify;
        img{
            width: 25rem;
            height: 20rem;
        }
    }
    .whatsapp{
        bottom: 14rem;
        right: 6rem;
    }
    .titulo {
        h1{    
            padding: 1.5rem 10rem;
            font-size: 1.7rem;
        }
    }
    .cuerpo {
        img{
            width: 18rem;
            padding: 3rem 1rem 3rem 10rem;
        }
        p {
            padding: 3rem 10rem 3rem 0rem;
            line-height: 2.5rem;
            font-size: 1.8rem;
        }
    }
    .nos-primero{
        h2{
            padding: 1rem 10rem;
            font-size: 1.5rem;
        }
        p{
            font-size: 1.5rem;
            padding: 3rem 10rem;
            line-height: 3rem;
            img{
                width: 16rem;
                height: 14rem;
                padding: 0.5rem 1rem;
            }
        }
    }
    .ubi-primero{
        h2{
            padding: 1rem 10rem;
            font-size: 1.5rem;
        }
        p{
            padding: 3rem 10rem;
        }
        iframe{
            padding: 2rem 10rem;
            width: 80%;
        }
    }
    .servic-primero {
        h2{
            font-size: 1.5rem;
            padding: 1rem 10rem; // cambia  
        }
        p{
            padding: 1rem 10rem;// cambia
            font-size: 1.2rem;
        }
        ul{
            line-height: 3rem;
            padding: 1rem 12rem;
            li{
                font-size: 1.5rem;
            }
        }
    }
    .servic-segundo {
        padding: 2rem 10rem;
    }
    .row{
        padding: 5rem 10rem;
        height: 100%;
    }
    .con-primero {
        background-color: rgb(151, 140, 125);
        h2{
            font-size: 1rem;
            padding: 1rem 10rem;
        }
    }
    .con-segunda{
        p{
            padding: 2rem 10rem;
        }
        form {
            margin: 1rem auto;
        }
    }  
    .footer {
        padding: 1rem 10rem;
        font-weight: 600;
        .footer-titulo {
            h4{
                font-size: 1.6rem;
            }
        }
        .grid {
            .titulo-redes {
                p{
                    font-size: 1.6rem;
                    padding: 0.5rem 0rem;
                    margin: 1rem;
                }
            }
            .ig-linkedin{
                img{
                    width: 2rem;
                    height: 2rem;
                }
            }
            .facebook{
                padding: 1rem;
                img{
                    width: 2rem;
                    height: 2rem;
                }
                a{
                    font-size: 1.2rem;
                }
            }   
            .titulo-contactoPersonal{
                p{
                    font-size: 1.5rem;
                    margin: 1rem;
                }
            }
            .numero {
                p{
                    padding: 1rem;
                    font-size: 1.1rem;
                }
            }
            .e-mail{
                p{
                    padding: 1rem;
                    font-size: 1.1rem;
                }    
            }
            .titulo-direccion{
                p{
                    font-size: 1.5rem;
                    margin: 1rem;
                }
            }
            .direccion{ 
                p{
                    padding: 1rem;
                    font-size: 1.1rem;// se queda
                }
            }
            .ciudad {
                p{
                    padding: 1rem;
                    font-size: 1.1rem;// se queda
                }
            }
        }
    }
}