@import "../base/variable";
@media only screen and (min-width: 1441px){
    .header{
        padding: 1rem 14rem;
        nav {
            ul {
                li{
                    a {
                        padding: 1rem;
                    }
                }
            }
        }
    }
    img{
        width: 9rem;
        height: 4rem;
    }
    .menu {
        width: 3rem;
        height: 4rem;
    }
    .img{
        display: flex;
        justify-content: center;
        text-align: justify;
        img{
            width: 30rem;   
            height: 25rem;
        }
    }
    .whatsapp{
        bottom: 14rem;
        right: 6rem;
    }
    .titulo {
        h1{    
            padding: 1.5rem 14rem;
            font-size: 1.7rem;
        }
    }
    .cuerpo {
        img{
            width: 35rem;
            height: 25rem;
            padding: 3rem 2rem 5rem 14rem;
        }
        p {
            padding: 3rem 14rem 5rem 5rem;
            margin: auto;
            line-height: 2.5rem;
            font-size: 1.8rem;
        }
    }
    .nos-primero{
        h2{
            padding: 1rem 14rem;
            font-size: 1.5rem;
        }
        p{
            font-size: 1.5rem;
            padding: 3rem 14rem;
            line-height: 3rem;
            img{
                width: 16rem;
                height: 14rem;
                padding: 0.5rem 1rem;
            }
        }
    }
    .ubi-primero{
        h2{
            padding: 1rem 14rem;
            font-size: 1.5rem;
        }
        p{
            padding: 3rem 14rem;
        }
        iframe{
            padding: 2rem 14rem;
            width: 75%;
        }
    }
    .servic-primero {
        h2{
            font-size: 1.5rem;
            padding: 1rem 14rem; 
        }
        p{
            padding: 1.5rem 14rem;
            font-size: 1.2rem;
        }
        ul{
            line-height: 3rem;
            padding: 1rem 16rem ;
            li{
                font-size: 1.5rem;
                &:hover{
                    margin: 1rem;
                    text-shadow: 0.2rem 0.2rem 0.3rem black;
                }
                &:active{
                    color: blue;
                }
            }
        }
    }
    .servic-segundo {
        padding: 2rem 14rem;
    }
    .row{
        padding: 5rem 18rem;
        height: 100%;
    }
    .con-primero {
        background-color: rgb(151, 140, 125);
        h2{
            font-size: 1rem;
            padding: 1rem 10rem;
        }
    }
    .con-segunda{
        p{
            padding: 2rem 10rem;
        }
        form {
            margin: 1rem auto;
        }
    }  
    .footer {
        padding: 1rem 14rem;
        font-weight: 600;
        .footer-titulo {
            h4{
                font-size: 1.6rem;
            }
        }
        .grid {
            .titulo-redes {
                p{
                    font-size: 1.6rem;
                    padding: 0.5rem 0rem;
                    margin: 1rem;
                }
            }
            .ig-linkedin{
                img{
                    width: 2rem;
                    height: 2rem;
                }
            }
            .facebook{
                padding: 1rem;
                img{
                    width: 2rem;
                    height: 2rem;
                }
                a{
                    font-size: 1.2rem;
                }
            }   
            .titulo-contactoPersonal{
                p{
                    font-size: 1.5rem;
                    margin: 1rem;
                }
            }
            .numero {
                p{
                    padding: 1rem;
                    font-size: 1.1rem;
                }
            }
            .e-mail{
                p{
                    padding: 1rem;
                    font-size: 1.1rem;
                }    
            }
            .titulo-direccion{
                p{
                    font-size: 1.5rem;
                    margin: 1rem;
                }
            }
            .direccion{ 
                p{
                    padding: 1rem;
                    font-size: 1.1rem;// se queda
                }
            }
            .ciudad {
                p{
                    padding: 1rem;
                    font-size: 1.1rem;// se queda
                }
            }
        }
    }
}