@media only screen and (min-width: 1025px) and (max-width: 1440px) {
    .header{
        justify-content: space-between;
        padding: 1rem 10rem;
        nav {
            display: flex;
            ul {
                justify-content: space-between;
                align-items: center;
                margin: 0rem;
                padding: 0rem;
                display: flex;
                li{
                    list-style-type: none;
                    a {
                        padding: 0.5rem;
                        text-decoration: none;
                        color: #cfcfcf;
                        &:hover{
                            background-color: #a3a3a3;
                            color: #000000;
                            border: 0.1rem solid #000000;
                            border-radius: 0.5rem;
                            margin: 0.5rem;
                            transition: 0.5s;
                        }
                    }
                }
            }
        }
    }
    img{
        width: 9rem;
        height: 4rem;
    }
    .menu {
        width: 3rem;
        height: 4rem;
    }
    .img{
        display: flex;
        justify-content: center;
        text-align: justify;
        img{
            width: 25rem;
            height: 20rem;
        }
    }
    .whatsapp{
        bottom: 14rem;
        right: 6rem;
        img {
            width: 2.5rem;
            height: 2.5rem;
        }
    }
    .titulo {
        h1{    
            padding: 1.5rem 10rem; //cambia
            font-size: 1.7rem; //cambia
        }
    }
    .cuerpo {
        display: flex;
        background-color: rgba(125, 143, 95, 0.46);
        align-items: center;
        justify-content: center;
        margin: auto;
        img{
            // display: flex;
            justify-content: center;
            text-align: justify;
            width: 18rem;
            padding: 3rem 1rem 3rem 10rem;
        }
        p {
            padding: 3rem 10rem 3rem 0rem;
            margin: auto;
            line-height: 2.5rem;
            font-size: 1.8rem;
            text-align: justify;
            text-shadow: 0.2rem 0.2rem 0.3rem rgba(0, 0, 0, 0.5);
        }
    }
    .nos-primero{
        background-color: #C0B6A7;
        h2{
            padding: 1rem 10rem;
            font-size: 1.5rem;
        }
        p{
            font-size: 1.5rem;
            padding: 3rem 10rem;
            line-height: 3rem;
            
            text-align: justify;
            margin: auto;
            img{
                width: 16rem;
                height: 14rem;
                padding: 0.5rem 1rem;
                display: flex;
                float: left;
            }
        }
    }
    .ubi-primero{
        background-color: #C0B6A7;
        h2{
            padding: 1rem 10rem;
            font-size: 1.5rem;
        }
        p{
            font-size: 1rem;
            margin:0rem;
            padding: 3rem 10rem;
        }
        iframe{
            margin: 0rem;
            padding: 2rem 10rem;
            display: flex;
            width: 80%;
        }
    }
    .servic-primero {
        background-color: #C0B6A7;
        h2{
            font-size: 1.5rem;
            padding: 1rem 10rem; // cambia  
        }
        p{
            padding: 1rem 10rem;// cambia
            font-size: 1.2rem;
        }
        ul{
            list-style-image:url("../asset/img/check.png");
            line-height: 3rem;
            padding: 1rem 12rem ;// cambia
            margin: auto 2rem;
            li{
                padding-left: 1rem;
                font-size: 1.5rem;
                li:hover{
                    margin: 1rem;
                    text-shadow: 0.2rem 0.2rem 0.3rem black;
                }
            }
        }
    }
    .servic-segundo {
        background: rgba(174, 148, 112, 0.245) 0;
        padding: 2rem 10rem;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    .row{
        padding: 5rem 10rem;
        height: 100%;
    }
    .con-primero {
        background-color: rgb(151, 140, 125);
        h2{
            font-size: 1rem;
            padding: 1rem 10rem;
        }
    }
    .con-segunda{
        background-color: #C0B6A7;
        p{
            padding: 2rem 10rem;
            font-size: 1rem;
            margin: auto;
            a{
                text-decoration: none;
                color: #000000;
            }
        }
        form {
            margin: 1rem auto;
            max-width: 25rem;
            padding: 1.25rem;
            background-color: #9b9696;
            border-radius: 0.625rem;
            box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.1);
        
            label {
                display: block;
                margin-bottom: 0.2rem;
                color: #000000;
            }
        
            input, textarea {
                width: 95%;
                padding: 0.6rem;
                border: 0.2rem solid #ccc;
                border-radius: 0.25rem;
                margin-bottom: 0.6rem;
                resize: none;
            }
        
            input[type="submit"] {
                background-color: #4CAF50;
                color: #fff;
                cursor: pointer;
                width: 20.5rem;
        
                &:hover {
                    background-color: #45a049;
                }
            }
        }
    }  
    .footer {
        padding: 1rem 10rem;
        font-weight: 600;
        .footer-titulo {
            h4{
                font-size: 1.6rem;
                margin-bottom: 1rem;
            }
        }
        .grid {
            text-align: center;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            row-gap: 0.5rem;
            column-gap: 0.5rem;
            align-items: center;
            justify-content: center;
            .titulo-redes {
                margin: auto;
                p{
                    font-size: 1.6rem;
                    padding: 0.5rem 0rem;
                    margin: 1rem;
                }
            }
            .ig-linkedin{
                img{
                    width: 2rem;
                    height: 2rem;
                }
                a{
                    text-decoration: none;
                    color: #000000;
                }
            }
            .facebook{
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 1rem;
                img{
                    display: flex;
                    width: 2rem;
                    height: 2rem;
                    margin-right: 0.5rem;
                }
                a{
                    font-size: 1.2rem;
                }
            }   
            .titulo-contactoPersonal{
                p{
                    font-size: 1.5rem;
                    margin: 1rem;
                }
            }
            .numero {
                p{
                    padding: 1rem;
                    font-size: 1.1rem;
                }
            }
            .e-mail{
                p{
                    padding: 1rem;
                    font-size: 1.1rem;
                }    
            }
            .titulo-direccion{
                p{
                    font-size: 1.5rem;
                    margin: 1rem;
                }
            }
            .direccion{ 
                p{
                    padding: 1rem;
                    margin: auto;
                    font-size: 1.1rem;// se queda
                }
            }
            .ciudad {
                p{
                    padding: 1rem;
                    margin: auto;
                    font-size: 1.1rem;// se queda
                }
            }
        }
    }
}