@mixin titulo-h1 ($fonde-color, $borde, $margen, $texto-alineado, $grosor){
    background-color: $fonde-color;
    border: $borde;
    margin: $margen;
    text-align: $texto-alineado;
    font-weight: $grosor;
}

@mixin whaap ($posicion){
    position: $posicion
}

.whatsapp{
    @include whaap(fixed);
}

.titulo {
    h1{
        @include titulo-h1(#b1b1b1, 0.1rem solid #000000, 0rem, center, 700)
    
    }
}