*{
    margin: 0 ;
    padding: 0 ;
}
body{
    font-family: 'Times New Roman', Times, serif !important;
    background-color: rgb(255, 255, 255) !important;
}
.whatsapp{
    position: fixed !important;
    right: 1rem;
    bottom: 8rem;
    &:hover{
        transform: scale(2);
    }
}

.carousel-inner{
    z-index: -1;
}
.con-segunda{
    padding-bottom: 1rem;
}

.row {
    width: 100%;
    background-color: #C0B6A7;
    margin: auto;
    .card {
        height: 100%;
        .card-body{
            background-color: #ffffff;
            border: 0.2rem solid #000000;
            h5{
                text-decoration: underline;
            }
            .card-text-uno{
                    margin-bottom: 2.5rem;
                }
            a{
                &:hover{
                background-color: #4CAF50;
                animation-direction: alternate;
                }          
            }
        }
    }
}
.footer {
    background-color: #605f5f;
}