*{
    margin: 0 ;
    padding: 0 ;
}
body{
    font-family: 'Times New Roman', Times, serif !important;
    background-color: rgb(255, 255, 255) !important;
}
.whatsapp{
    position: fixed !important;
}