@mixin titulo-h1 ( $borde, $margen, $texto-alineado, $grosor){
    border: $borde;
    margin: $margen;
    text-align: $texto-alineado;
    font-weight: $grosor;
}

@mixin fondo ($color){
    background-image: $color;
}

@mixin titulo-h2 ($color-de-fondo, $sombra) {
    background-color: $color-de-fondo;
    text-shadow: $sombra;
}
@mixin whaap ($posicion){
    position: $posicion
}

@mixin footer($fondo){
    background-image: $fondo
}

.whatsapp{
    @include whaap(fixed);
}

.titulo {
    @include fondo(linear-gradient(to right,#4a4949b4,#bcb8b8));
    h1{
        @include titulo-h1(0.1rem solid #000000, 0rem, center, 700);
    }
}

.nos-primero, .ubi-primero, .servic-primero, .con-primero{
    h2{
        @include titulo-h2 (rgba(125, 143, 95, 0.46), 0.2rem 0.2rem 0.3rem rgba(0, 0, 0, 0.5))
    }
}

.con-segunda{
    @include fondo(rgba(174, 148, 112, 0.245) 0);
}

.footer {
    @include footer(linear-gradient(to top,rgba(176,175,173,0.700717787114846) 0%, rgba(114,116,103,1) 0%, rgba(161,162,154,1) 100%));
}